<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                {% if user.is_authenticated %}
                <li><a  href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a  href="{% url 'create_category' %}">Create Category</a></li>
                <li><a  href="{% url 'account_list' %}">Account List</a></li>
                <li><a  href="{% url 'create_account' %}">Create Account</a></li>
                <li><a  href="{% url 'logout' %}">Logout</a></li>
                {% else %}
               <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>Expense Category</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Receipts Associated to your Accounts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories.all %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
